.about-us {
  background-color: #ededed;
  padding: 2rem 0;
}
.img-fluid {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.3s;
}

.img-fluid:hover {
  transform: scale(1.1);
}

.about-us h2 {
  margin-bottom: 1rem;
}
